
h2{
    color: rgb(76, 175, 175);
    text-align: left;
    padding: 10px;
    padding-bottom: 0px;
}

hr{
    border-width: 1px;
    border-color: grey;
}
/* main image on about */
.profile-img {
    float: left;
    padding: 10px;
    margin: 5px;
}

p {
    text-align: left;
    padding: 5px;
}
/* color change for name */
.navbar-light .navbar-brand{
    color: white;
}

.navbar {
    padding-bottom: 0;
    padding-top: 0;
}

header{
    border-bottom: solid 2px rgb(76, 175, 175);
    overflow: hidden;
}
/* Part of nav links to other pages */
a {
    background-color: rgb(76, 175, 175);
    text-decoration: none;
    color:white;
    font-weight: 500;
    padding: 10px;
    margin: 0;
    border-bottom: solid 2px rgb(76, 175, 175);
}
/* Nav links turn black when hovered over */
a:hover{
    color: black;
}
/* Overall container for center body of page */
.container-fluid{
    background-image:url("images/concrete-texture.png");
    text-align: center;
    background-size: cover;
    display: flex;
    min-height: 90vh;
    flex-direction: column;
    overflow: hidden;
    padding: 10px;
}
/* content holding container */
.container{
    width: 85%;
    border: solid 2px rgb(76, 175, 175);
    margin-top: 20px;
    background-color: white;
}

form{
    text-align: left;
    padding: 10px;
}
/* submit button for contact */
.btn-primary {
    background-color: rgb(76, 175, 175);
    border-color: rgb(76, 175, 175);
}
/* overall image card */
.card{
    margin: 10px;
    display: inline-block;
}
/* small card container for label of picture */
.card-body{
    padding: 5px;
    background-color: rgb(76, 175, 175);
}
.card-text{
    text-align: center;
    font-weight: 700;
    color: white;
}

#footer {
    position: relative;
    display: block;
    bottom: 0;
    width: 100%;
    height: 60px; /* Set the fixed height of the footer here */
    line-height: 60px; /* Vertically center the text there */
    background-color: grey;
    color: white;
    text-align: center;
    padding: 10px;
  }
